/* src/app/styles.css */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Prata&display=swap");
@import "tailwindcss";

@theme {
    --color-*: initial;
    --color-burntUmber: #81322A;
    --color-cedarChest: #C45E4C;
    --color-beaver: #A38579;
    --color-raisinBlack: #29221F;
    --color-timberwolf: #DAD7CE;
    --font-manrope: "Manrope", sans-serif;
    --font-prata: "Prata", serif;
}